<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kemik Society</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- This is my navbar  -->
    <nav class="navbar navbar navbar-expand-lg" id="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Kemik</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Kemik Game</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Society Members
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Arda</a></li>
                  <li><a class="dropdown-item" href="#">Kemal</a></li>
                  <li><a class="dropdown-item" href="#">Teoman</a></li>
                  <li><a class="dropdown-item" href="#">Tuna</a></li>
                  <li><a class="dropdown-item" href="#">Selin</a></li>
                  <li><a class="dropdown-item" href="#">Yiğit</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!------------------- Section One  -------------------->

      <section class="section-one">
        <img id="kemik-img-small" class="kemik-img" src="./images/kemik_img.png" alt="kemişko" height="100" width="100">
        <div class="container-xl" id="first-part">
          <div class="row justify-content-center">
          <div class="col div1">
            <h1 class="header-text">Kemik Society</h1>
            <p class="text">Kemik society established in 2021 with a group of  student at METU. </p>
          </div>
          <div class="col">
            <img class="kemik-img" id="kemik-img-big" src="./images/kemik_img.png" alt="kemişko" height="300" width="300">
          </div></div>
        </div>
      </section>

      <!------------------- Section Two  -------------------->

      <section id="society-members">
        <h1>Society Memebers</h1>
        <img src="images/icons/left.png" alt="left icon" height="50px" id="arrow-left">
        <div class="card-menu">
          <div class="card text-center">
            <img src="images/kemal.png" class="card-img-top" height="200px" width="200px" alt="member_photo">
            <div class="card-body">
              <h5 class="card-title">Kemo Mert</h5>
              <p class="card-text">Some quick example text to build on the Kemo Mert.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div>
          <div class="card text-center">
            <img src="images/kemal.png" class="card-img-top" height="200px" width="200px" alt="member_photo">
            <div class="card-body">
              <h5 class="card-title">Kemo Mert</h5>
              <p class="card-text">Some quick example text to build on the Kemo Mert.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div>
          <div class="card text-center">
            <img src="images/kemal.png" class="card-img-top" height="200px" width="200px" alt="member_photo">
            <div class="card-body">
              <h5 class="card-title">Kemo Mert</h5>
              <p class="card-text">Some quick example text to build on the Kemo Mert.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div>
          <div class="card text-center">
            <img src="images/kemal.png" class="card-img-top" height="200px" width="200px" alt="member_photo">
            <div class="card-body">
              <h5 class="card-title">Kemo Mert</h5>
              <p class="card-text">Some quick example text to build on the Kemo Mert.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div>
          <div class="card text-center">
            <img src="images/kemal.png" class="card-img-top" height="200px" width="200px" alt="member_photo">
            <div class="card-body">
              <h5 class="card-title">Kemo Mert</h5>
              <p class="card-text">Some quick example text to build on the Kemo Mert.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div>
          <div class="card text-center">
            <img src="images/kemal.png" class="card-img-top" height="200px" width="200px" alt="member_photo">
            <div class="card-body">
              <h5 class="card-title">Kemo Mert</h5>
              <p class="card-text">Some quick example text to build on the Kemo Mert.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
          </div>
        </div>
        <img src="images/icons/right.png" alt="left icon" height="50px" id="arrow-right">
      </section>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/index.js"></script>
</body>
</html>